<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="com.qam.tests.HomePageTest"/>
      <class name="com.qam.tests.TestLoginPage"/>
      <class name="com.qam.tests.LoginmTest"/>
      <class name="mavenPackage.MavenProject.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
